body {
    background-color: lightblue;
    color: rgb(55, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom,  blue, blueviolet, pink, steelblue);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;

}

a:visited {
    color:dimgrey;
    background-color: blueviolet;
}

a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: white;
    background-color: green;

}